body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 400px;
  height: 600px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin: 50px;
}

.immagine1 {
  margin: -50px;
}

.btnsave {
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: red;
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 0;
  padding: 30px 28px;
  border-radius: 45px;
}

.container:hover .btnsave {
  opacity: 1;
}

.sidebar-inferiore {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
}

.sidebar-inferiore div {
  background-color: rgba(255, 255, 255, 0.897);
  padding: 10px 10px;
  border-radius: 20px;
  opacity: 0;
}

div.relink {
  padding: 10px 15px;
}

.container:hover .sidebar-inferiore div {
  opacity: 1;
}
